###################################################### REACT APP ENVIRONMENT
REACT_APP_API_URL = http://localhost:8181/api
REACT_APP_STORE_URL = http://localhost:8181/client
REACT_APP_ESEWA_URL = https://uat.esewa.com.np
PORT = 3000
PUBLIC_URL=/
REACT_APP_URL_HASH_KEY = 20JTGENG724UNG934G398G
SKIP_PREFLIGHT_CHECK = true

###################################################### NODE.JS ENVIRONMENT
HTTP_SECURE = false

SERVER_PORT = 8181

JWT_SECRET = 123ihkjsdfh87234r

DB_NAME = dapp_system
DB_DIALECT = mysql
DB_HOST = localhost
DB_PORT = 3306
DB_USERNAME = root
DB_PASSWORD = root

EMAIL_HOST = 
EMAIL_PORT = 465
EMAIL_USERNAME = 
EMAIL_PASSWORD = 
EMAIL_SECURE = true

BLOCKCHAIN_ADDRESS = 0xA86e18230Ffa9b66Fa371e1E67F1E23a6D387977
BLOCKCHAIN_PRIVATE_KEY = e9911b36a9c94b72b09fc537080c6763fb30e68576085e6f17c78ab6297045e2
BLOCKCHAIN_INFURA_URL = http://127.0.0.1:7545
BLOCKCHAIN_IPFS_HOST = 127.0.0.1
BLOCKCHAIN_IPFS_PORT = 5001
BLOCKCHAIN_IPFS_PROTOCOL = http

ESEWA_MERCHANT_CODE = epay_payment
ESEWA_VERIFY_TRANSREC_URL = https://uat.esewa.com.np/epay/transrec
