

$primary:#EBB401;
$secondary:#EFE9DB;
$border:#555;
$light-bg:#f6f7fa;
$mild-bg:#444;
$dark-bg:#333;
$text-color:#ccc;
$text-light:#666;
$very-light:#ccc;
$white:#fff;
$black:#333;
$header-bg:#EBB401;
$footer-bg:#EBB401;
$product-font:18px;
$product-single-font:24px;

@import "./scss/style.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
